<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let elemento of ligas" [routerLink]="['/liga', elemento.id]">
            {{elemento.siglas}}
        </button>
    </mat-menu>
    <span>Deportes {{titulo}}</span>
</mat-toolbar>
<mat-card>
    <router-outlet></router-outlet>
</mat-card>
